@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    background-color: #000;
}

header img {
    width : 100px;
    height : 100px;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}

header, nav {
    position: fixed;
}

nav {
    margin-left: 450px;
}

nav ul {
    float: right;
}

nav li {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    margin-top: 18px;
    margin-right: 15px;
}

nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav li a:hover,
nav li a.active {
    background: #fff;
    border-radius: 25px;
    color: #000;
}

.hero-image {
    max-width: 100%;
    display: block;
}

.hero-image img {
    width: 100%;
    margin-top: 2px;
}

.text-hero {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    text-shadow: 2px 2px 5px #000;
    top: 54%;
    left: 9%;
    font-size: 1.45em;
}

.hero-button button {
    position: absolute;
    top: 69%;
    left: 9%;
    background-color: #c7c5c1;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 24px;
    border-radius: 25px;
    font-size: 1.05em;
}

.hero-button button:hover {
    background-color: #fff;
}

.facility {
    color: #fff;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.facility h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.95em;
    margin-bottom: 10px;
}

.facility p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.05em;
    margin-bottom: 10px;
}

.facility-img {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
}

.facility-img h2, p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.facility-dumbell img{
    width: 530px;
    height: 330px;
    border-radius: 55px;
    margin-top: 10px;
    
}

.dumbell-font {
    margin-right: 45px;
}

.facility-lounge img {
    width: 530px;
    height: 330px;
    border-radius: 55px;
    margin-top: 10px;
    margin-left: 50px;
}

.facility-lounge h2 {
    margin-left: 50px;
}

.lounge-font {
    margin-left: 50px;
    margin-right: 35px;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

.dealing-section {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}

.dealing-section h2 {
    color: #fff;
    font-size: 50px;
    margin-left: 35px;
}

.dealing-font {
    font-size: 1.05em;
    margin-left: 35px;
    margin-bottom: 65px;
}

.dealing-button button {
    position: absolute;
    top: 283%;
    left: 3%;
    background-color: #c7c5c1;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 24px;
    border-radius: 25px;
    font-size: 1.05em;
}